$shopGrayFont: #808080;
$lightGray: #f4f4f4;

.shop-layout {
  .gray-font {
    color: $shopGrayFont;
  }
  .gray-divider {
    background-color: $shopGrayFont;
    max-width: 200px;
    margin: 10px 0 20px;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category-switcher {
    .category-switcher-header {
      background-color: $lightGray;
    }
    button {
      min-height: 30px !important;
      padding: 10px !important;
    }
    :before{
      // content: none
    }
  }
}
